
body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: #9daea6
}

h1 {
  display: block;
  width: 10%;
  margin: 0;
  font-family: 'Satisfy', cursive;
}


h2 {
  display: block;
  margin:0;
  font-family: 'Syne Mono', monospace;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
}

a{
}
.top-container {
  position: relative;
  background-color: #9daea6;
  height: 1000px;
  margin: 0;
}

.middle-container {
margin-top: 500px
}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 250px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 500px;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 850px
}

.title {
  position: absolute;
  top: 100px;
  left: 45%;
  font-size: 562.5%;
}

.programmer {
  position: absolute;
  top: 500px;
  left: 46%;
}
